[Desktop Entry]
Name=QuickAccess
Exec=quickaccess
Icon=quickaccess
Type=Application
Categories=Qt;KDE;Utility;FileTools;
Terminal=false
X-DBUS-ServiceName=com.georgefb.QuickAccess
X-DocPath=https://georgefb.com/applications/quickaccess/
