[Desktop Entry]
Name=QuickAccess
Exec=quickaccess
Icon=folder
Type=Application
Categories=Qt;KDE;FileTools;Utility;
Terminal=false
X-DBUS-ServiceName=com.georgefb.QuickAccess
